

<ion-content>
  <div class="container">

    <div class="conteneur">
    <div class="row ">
      <div class="col-12 col-md-6">
        <div class="ms-4">
          <div >
            <img class="img-fluid rounded" src="assets/images/ooo.png" alt="">
          </div>
          <h2 class="titleItemss">Veuillez vérifier votre <span>E-mail</span></h2>
          <div class="trait"></div>
          <p class="py-4">Vérifiez votre  e-mail pour un code pour réinitialiser votre mot de passe. S'il n'apparaît pas dans quelques minutes, vérifiez votre dossier spam.</p>

        </div>

        </div>


      <div class="col-12 col-md-6 pe-3 align-self-center ">
        <div class="ms-4">
          <h2 class="titleItemss">Saisir le code de Confimation</h2>
        <div class="trait "  ></div>
        <p class="py-4">Ce code vous permettra de réinitialiser votre Mot de Passe</p>
        <div class=" cardContour d-flex ">
          <div class="row">
                <div class=" col-xs-3 col-12 col-md-3 ">
                  <input type="text" class="text-center petitCard" placeholder="*" >
                </div>
                <div class="col-xs-3 col-12 col-md-3 col-xs-3">
                  <input type="text" class="text-center petitCard" placeholder="*" >
                </div>
                <div class="col-xs-3 col-12 col-md-3 col-xs-3">
                  <input type="text" class="text-center petitCard" placeholder="*" >
                </div>
                <div class="col-xs-3 col-12 col-md-3 col-xs-3">
                  <input type="text" class="text-center petitCard" placeholder="*" >
                </div>
              </div>
           </div>
        <div class="py-4">
          <a href="#"><input class="btn boutton" type="button" value="Valider"></a>
        </div>

        </div>



      </div>
    </div>
  </div>
  </div>

</ion-content>
