<div class="container-fluid">
  <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" style="position:relative; top:2%; left:90%;"><i
      class="bi bi-list py-2 p-1 " style="color:black"></i></a>
  <div class="row flex-nowrap">
    <div class="col-auto px-2">
      <app-menu></app-menu>
    </div>
    <main class="col ps-md-2 pt-2  " style=" height: 100vh ;">
      <div class="container">
        <button type="button" class="btn" style="margin-left:92% ;">
          <i class="bi bi-bell-fill position-relative" style="font-size:30px ;">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill"
              style="font-size:15px; background-color: #ff6600;">
              99+
            </span></i>
        </button>
        <br><br>
        <div class="row ro py-3">
          <h1>Les postulants tirés</h1>
          <div class="trait"></div>
          <div class="position">
            <button class="btn btnAjouter">Exporter le fichier</button>
            <form action="">
              <button class="btn btnAjouter recherche" style="display:flex ;"><i class="bi bi-search py-1"></i> <input
                  type="text" style="border: hidden; border: 0; background: transparent;"></button>
            </form>
            <button class="btn btnAjouter c1">Filtré par Genre <i class="bi bi-filter-right"></i></button>
            <button class="btn btnAjouter c1">Filtré par Activité <i class="bi bi-filter-right"></i></button>
          </div>
          <div class="table-responsive ra py-5">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="ra">Nom</th>
                  <th scope="col">Prénom</th>
                  <th scope="col">Email</th>
                  <th scope="col">Numéro</th>
                  <th scope="col">Genre</th>
                  <th scope="col">Activité</th>
                  <th scope="col" class="ra1">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">Camara</td>
                  <td>Mamady</td>
                  <td>Mamdy017@gmail.com</td>
                  <td>9122889</td>
                  <td>Masculin</td>
                  <td>Formation</td>
                  <td><i class="bi bi-pencil-square i">&nbsp; &nbsp; &nbsp;</i><i class="bi bi-trash-fill i"></i></td>
                </tr>
                <tr>
                  <td scope="row">Camara</td>
                  <td>Mamady</td>
                  <td>Mamdy017@gmail.com</td>
                  <td>9122889</td>
                  <td>Masculin</td>
                  <td>Formation</td>
                  <td><i class="bi bi-pencil-square i"></i>&nbsp; &nbsp; &nbsp;<i class="bi bi-trash-fill i"></i></td>

                </tr>
                <tr>
                  <td scope="row">Camara</td>
                  <td>Mamady</td>
                  <td>Mamdy017@gmail.com</td>
                  <td>9122889</td>
                  <td>Masculin</td>
                  <td>Formation</td>
                  <td><i class="bi bi-pencil-square i"></i>&nbsp; &nbsp; &nbsp;<i class="bi bi-trash-fill i"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </main>
  </div>
</div>