<div class="container-fluid">
  <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" style="position:relative; top:2%; left:90%;"><i
      class="bi bi-list py-2 p-1 " style="color:black"></i></a>
  <div class="row flex-nowrap">
    <div class="col-auto px-2">
      <app-menu></app-menu>
    </div>
    <main class="col ps-md-2 pt-2  " style=" height: 100vh ;">
      <div class="container height:100vh py-5">
        <div class="row contain">
          <div class="col-md-12  colonne1">
            <!-- <img src="/assets/images/detail-liste.png" class="rounded img"> -->
            <img src="/assets/images/detail-liste.png" class="img-fluid" alt="...">
          </div>
          <div class="col-md-12 py-3  text ">
            <h1 class="h1 ">Talk - Le numérique responsable</h1>
          <div class="trait"></div>
            <p class="t1 ">Hawa Berthe, conférencière en développement personnel, partage plusieurs outils pour prendre
              conscience de sa valeur et atteindre ses objectifs ...
              Hawa Berthe, conférencière en développement personnel, partage plusieurs outils pour prendre conscience de
              sa valeur et atteindre ses objectifs ...
              Hawa Berthe, conférencière en développement personnel, partage plusieurs outils pour prendre conscience de
              sa valeur et atteindre ses objectifs .
            </p>
          </div>

          <div class="col-md-12 row colonne3">
            <div class="col-md-4 ">
              <a href=""><i class="bi bi-person-circle" style="color:black; margin-left: 2%;"></i></a>
              <p class="p">Créer par Moussoudou Traoré</p>
              <button type="button" class="btn btn-success" style="margin-left: 10%;margin-top: -1%;">Etat de
                l’activité: Terminer</button><br>
              <a href="">
                <ion-icon name="locate" style="margin-left: 2%;margin-top: 5%;"></ion-icon>
              </a>
              <p class="p">Objetif participant : 20 personnes</p>
            </div>
            <div class="col-md-4 ">
              <a href="">
                <ion-icon name="calendar"></ion-icon>
              </a>
              <p class="p">Date début : 20/12/2022</p>
              <a href="">
                <ion-icon name="calendar"></ion-icon>
              </a>
              <p class="p">Date fin : 30/12/2022</p>
              <a href="">
                <ion-icon name="pin"></ion-icon>
              </a>
              <p class="p">Lieu : Orange Digital Center</p>
            </div>
            <div class="col-md-4 king">
              <div class="c1">
              <a href="">
                <ion-icon name="home"></ion-icon>
              </a>
              <p class="p">Salle : 2eme etage</p>
              </div>
              <div class="c1">
                <a href="">
                <ion-icon name="person"></ion-icon>
              </a>
              <p class="p">Responsable: Aly KONTE</p>
              </div>

            </div>

          </div>
        </div>
      </div>

    </main>
  </div>
</div>