
    <main class="col ps-md-2 pt-2  " style=" height: 100vh ;">
      <div class="container">
        <div class="row boxShadow">
          <!------------- Colonne Gauche---->
          <div class="col-12 col-md-2 text-center imgGauche">

            <img src="../../assets/icon/toure.png" alt="image user" class="img-fluid rounded text-center">
            <p class="profileName text-center">Ousmane <b>TOURE</b></p>

            <div class="row">
              <p class="py-3" class="titleProfilSettings "><i class="bi bi-gear"></i> Compte</p>
              <p class="py-3" class="titleProfilSettings2"><i class="bi bi-lock-fill"></i> Mots de passe</p>
            </div>


          </div>

          <!------------- Colonne Droite ---->
          <div class="col-12 col-md-5">
            <form>
              <fieldset>
                <legend class="display-6 py-4"><b>Paramètres du profil</b></legend>
              </fieldset>
              <div class="trait"></div>
              <div class="row col-12">
                <div class="mb-3 col-12  form-row ">
                  <label for="name">Ancienne mot de passe*</label>

                  <input type="text" name="name" id="name" class="form form-control inputvalue">
                </div>
                <div class="mb-3 col-12  form-row ">
                  <label for="firstname">Nouveau mot de passe*</label>
                  <input type="text" name="firstname" id="firstname"
                    class="form form-control inputvalue">
                </div>
                <div class="mb-3 col-12  form-row ">
                  <label for="email">Confirmer votre mot de passe*</label>
                  <input type="email" name="email" id="email"
                    class="form form-control inputvalue">
                </div>

              </div>
              <div>
                <button class="btn btnAjouter py-4">Enregistrer</button>
                <button class="btn btnAjouter1">Annuler</button>
              </div>



            </form>

          </div>
        </div>
      </div>
    </main>
