@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap%27');

* {
    font-family: 'Poppins', sans-serif;

}

.imgGauche {
    color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);

}

.container {
    margin-top: 4%;
    border-radius: 20px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.8);
    padding: 30px;
}

label {
    margin-left: 10px;
}

// img {
//     position: relative;
//     top: 10%;
//     align-items: center;
// }

.a {

    justify-content: space-between;
    background-color: #FF6600;

}

p {
    margin-top: 30%;
    color: black;
}


// .imgGauche h6 {

//     margin-bottom: 1vh;
//     color: black;
//     font-size: 15px;
//     text-align: center;
//     justify-content: center;

// }

// .trait {
//     border: 2px solid #FF6600;
//     width: 150px;
//     border-radius: 20px;

//     margin-bottom: 30px;
// }
input{
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}
.btnAjouter {
    background-color: black;
    color: white;
    border-radius: 12px;
    margin-left: 4%;
    width: 200px;
    height: 50px;
    border: none;
    font-weight: bold;
    background-color: #FF6600;
}

.btnAjouter1 {
    background-color: black;
    color: white;
    border-radius: 12px;
    margin-left: 4%;
    width: 200px;
    height: 50px;
    border: none;
    font-weight: bold;
    background-color: black;
}

.btnAjouter:hover {
    background-color: black;
    color: #ffffff;
}

.btnAjouter1:hover {
    background-color: #FF6600;
    color: #ffffff;
}

.titleProfilSettings {
    font-weight: bold;
    position: relative;
    top: -40px;
    padding: 1rem;
    color: #ffffff;
    font-weight: bold;
    background: #FF6600;
}

.titleProfilSettings2 {
    color: black;
    font-weight: bold;
    position: relative;
    top: -100px;
    padding: 1rem;
}

.titleProfilSettings2:hover {
    color: #ffffff;
    font-weight: bold;
    background: #FF6600;
    cursor: pointer;
}

.titleProfilSettings:hover {
    color: #ffffff;
    font-weight: bold;
    background: #FF6600;
    cursor: pointer;
}

@media (min-width: 576px) {
    .titleProfilSettings {
        font-weight: bold;
        position: relative;
        font-size: .9rem;
        top: -10px;
        padding: 1rem;
        color: #ffffff;
        font-weight: bold;
        background: #FF6600;
    }

    .titleProfilSettings2 {
        font-weight: bold;
        position: relative;
        top: -60px;
        padding: 1rem;
        font-size: .9rem;
    }

    .profileName {
        font-size: .6rem;
        position: relative;
        top: 20px;
        text-align: center;
    }

    img {
        position: relative;
        top: 10%;
        height: 50px;
        width: 50px;
        margin-left: 18%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .titleProfilSettings {
        font-weight: bold;
        position: relative;
        font-size: .9rem;
        top: -10px;
        padding: 1rem;
        color: #ffffff;
        font-weight: bold;
        background: #FF6600;
    }

    .titleProfilSettings2 {
        font-weight: bold;
        position: relative;
        top: -60px;
        padding: 1rem;
        font-size: .9rem;
    }

    .profileName {
        font-size: .8rem;
        position: relative;
        top: 20px;
        text-align: center;
    }

    img {
        position: relative;
        top: 10%;
        height: 70px;
        width: 70px;
        margin-left: 20%;
    }
}

@media (min-width: 1200px) {
    .titleProfilSettings {
        font-weight: bold;
        position: relative;
        font-size: 1rem;
        top: -10px;
        padding: 1rem;
        color: #ffffff;
        font-weight: bold;
        background: #FF6600;
    }

    .titleProfilSettings2 {
        font-weight: bold;
        position: relative;
        top: -70px;
        padding: 1rem;
        font-size: 1rem;
    }

    .profileName {
        font-size: 1rem;
        position: relative;
        top: 20px;
        text-align: center;
    }

    img {
        position: relative;
        top: 10%;
        height: 80px;
        width: 80px;
        margin-left: 25%;
    }
}

// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 767px) {
    .titleProfilSettings {
        font-weight: bold;
        position: relative;
        font-size: 1.7rem;
        top: -100px;
        padding: 1.7rem;
        color: #ffffff;
        font-weight: bold;
        background: #FF6600;
        text-align: center;
    }

    .titleProfilSettings2 {
        font-weight: bold;
        position: relative;
        top: -190px;
        padding: 1.7rem;
        font-size: 1.7rem;
        text-align: center;
    }

    .profileName {
        font-size: 1.9rem;
        position: relative;
        top: -10px;
        text-align: center;
    }

    img {
        position: relative;
        top: 10%;
        height: 200px;
        width: 200px;
        margin-left: 30%;
    }
}

// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 265px) {
    .titleProfilSettings {
        font-weight: bold;
        position: relative;
        font-size: 1rem;
        top: -60px;
        padding: 1rem;
        color: #ffffff;
        font-weight: bold;
        background: #FF6600;
        text-align: center;
    }

    .titleProfilSettings2 {
        font-weight: bold;
        position: relative;
        top: -140px;
        padding: 1rem;
        font-size: 1rem;
        text-align: center;
    }

    .profileName {
        font-size: 1rem;
        position: relative;
        top: 5px;
        text-align: center;
    }

    img {
        position: relative;
        top: 10%;
        height: 100px;
        width: 100px;
        margin-left: 25%;
    }
}


// Small devices (landscape phones, 576px and up)
@media screen AND (min-width: 280px) AND (max-width: 350px) {
    .titleProfilSettings {
        font-weight: bold;
        position: relative;
        font-size: 1rem;
        top: -60px;
        padding: 1rem;
        color: #ffffff;
        font-weight: bold;
        background: #FF6600;
        text-align: center;
    }

    .titleProfilSettings2 {
        font-weight: bold;
        position: relative;
        top: -140px;
        padding: 1rem;
        font-size: 1rem;
        text-align: center;
    }

    .profileName {
        font-size: 1rem;
        position: relative;
        top: 5px;
        text-align: center;
    }

    img {
        position: relative;
        top: 10%;
        height: 100px;
        width: 100px;
        margin-left: 30%;
    }
}
main{
    overflow:scroll;
}
