
  <style>
    .collapsing {
-webkit-transition: none;
transition: none;
display: none;}
</style>


    <div id="sidebar" class="collapse collapse-horizontal  show " >
      <div id="sidebar-nav" class="list-group border-0  hh rounded-0 text-sm-start">
          <div>
            <img src="../assets/logo.png" style="height: 75px; width: 150px;"  alt="">
       </div>
       <div class="py-3"></div>
      <ul class=" nav nav-pills mb-sm-auto mb-0 min-vh100  ul align-items-sm-start"id="menu">
        <li class=" py-4">
          <div class="row px-2">
              <div class="col">  <img src="../../assets/icon/toure.png" alt=""></div>
              <div class="col nom py-1">
                  <span>Camara</span>
                  <span>Camara</span>
              </div>
          </div>
        </li>
        <li class="li active">
            <a href="#" class="nav-link  align-middle li">
                <i class="bi bi-house active"></i> <span class="ms-1  d-sm-inline light active px-3">Accueil</span></a>
        </li>


      <li class="li">
          <a href="#" class="nav-link  align-middle li">
            <i class="bi bi-card-checklist"></i> <span class="ms-1  d-sm-inline light px-3">Listes</span></a>
      </li>
      <li class="li">
        <a href="liste-acteur" class="nav-link  align-middle li">
          <i class="bi bi-person-circle"></i> <span class="ms-1  d-sm-inline light px-3">Acteur</span></a>
    </li>
    <li class="li">
      <a href="#" class="nav-link  align-middle li">
          <i class="fa-solid fa-database i"></i> <span class="ms-1  d-sm-inline light px-3">Entités</span></a>
  </li>
    <li class="li">
      <a href="tirage" class="nav-link  align-middle li">
          <i class="bi bi-browser-edge"></i> <span class="ms-1  d-sm-inline light px-3">Tirage</span></a>
  </li>
      <li class="li">
          <a href="activite" class="nav-link  align-middle li">
              <i class="bi bi-bar-chart-line"></i> <span class="ms-1  d-sm-inline light px-3">Activitées</span></a>
      </li>

      <li class="li">
        <a href="liste-utilisateur" class="nav-link  align-middle li">
            <i class="bi bi-person-circle"></i> <span class="ms-1  d-sm-inline light px-3">Utilisateurs</span></a>
    </li>
      <li style="height: 150px;"></li>
    </ul>
        </div>
    </div>

