<div class="container-fluid">
  <a href="#" data-bs-target="#sidebar"  data-bs-toggle="collapse"  style="position:relative; top:2%; left:90%;"><i class="bi bi-list py-2 p-1 " style="color:black"></i></a>
<div class="row flex-nowrap">
  <div class="col-auto px-2" >
    <app-menu></app-menu>
    </div>


  <main class="col ps-md-2 pt-2  " style= " height: 100vh ;">
    <div class="container py-3">
      <div class="alert alarte">
        <p class="display-5 text-center">Bienvenue ! Jeremi</p>
        <p class="text-center">Sur la plateforme Orange Digital Center</p>
        <p class="slogan">#Innovation - #Technologie - #Invention</p>
      </div>
    </div>
    
    <div class="row cardCenter py-1">
        <div class="cardHome1 col-12 col-md-3">
          <p class="pContent1 text-center">22</p>
          <p class="pContent2 text-center">Salles disponibles</p>
        </div>
        <div class="cardHome col-12 col-md-3">
          <p class="pContent1 text-center">100</p>
          <p class="pContent2 text-center">Apprénnants</p>
        </div>
        <div class="cardHome col-12 col-md-3">
          <p class="pContent1 text-center">150</p>
          <p class="pContent2 text-center">Participants</p>
        </div>
    </div>
</main>
</div>
</div>
