 
<ion-content>

  <div class="container">
    <div class="row boxShadow">
      <!------------- Colonne Gauche---->
      
  
      <!------------- Colonne Droite ---->
      <div class="col-10 col-md-6">
        <form >
          <fieldset>
            <legend class="display-6 text-center my-3"><b>Ajout d'une<p class="o">Salle</p></b></legend>
          </fieldset>

          <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="messageRetour">
            <strong>{{messageRetour}}</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>



          <div class="trait"></div>
          <div class="row col-08">
            <div class="mb-3 col-10 col-md-12 form-row form-floating">
              <input type="text" class="form form-control inputvalue" [(ngModel)]="nom"  name="name" id="name" placeholder="Nom" >
              <label for="name">Nom</label>
            </div>
            <div class="mb-3 col-12 col-md- 12form-row form-floating">
              <input type="text" name="etage" id="etage" [(ngModel)]="etage" placeholder="etage" class="form form-control inputvalue" >
              <label for="firstname">Etage</label>
            </div>
            <div class="mb-3 col-12 col-md-12 form-row form-floating">
              <input type="number" name="nbreplace" [(ngModel)]="nbreplace" placeholder="Nombre de Place" class="form form-control inputvalue" >
              <label for="num">Nombre de Place</label>
            </div>
           
           
            
          </div>
          <button (click)="ajouterSalle()" class="btn btnAjouter">Valider</button>
          <!-- <button (click)="Connexion()" class="btn btnAjouter">Se Connecter</button> -->
          
        
        </form>
  
      </div>
    </div>
  </div>
</ion-content>

