<div class="container-fluid">
  <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" style="position:relative; top:2%; left:90%;"><i
      class="bi bi-list py-2 p-1 " style="color:black"></i></a>
  <div class="row flex-nowrap">
    <div class="col-auto px-2">
      <app-menu></app-menu>
    </div>
    <main class="col ps-md-2 pt-2  " style= " height: 100vh ;">
      <button type="button" class="btn py-1" style="margin-left:92% ;">
        <i class="bi bi-bell-fill position-relative" style="font-size:30px ;">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill" style="font-size:15px;  background-color: #ff6600;">
          99+
        </span></i>
      </button>
      <div class="container py-3">
        <div class="contain">
          <div class="row boxShadow">
            <!------------- Colonne Gauche---->
            <div class="col-12 col-md-4 imgGauche">
              <img src="assets/icon/illustre.png" alt="image ajouter un postulant" class="img-fluid rounded">
              <h2 class="display-6 text-center" style="font-weight: bold; color: black;">Bienvenue</h2>
              <h6>Sur <span style="color:#FF6600">Orange </span>Digital Center</h6>
            </div>
      
            <!------------- Colonne Droite ---->
            <div class="col-12 col-md-8">
              <form>
                <fieldset>
                  <legend class="display-6 text-center my-3"><b>Ajouter un participant</b></legend>
                </fieldset>
                <div class="trait"></div>
                <div class="row col-12">
                  <div class="mb-3 col-12 col-md-6 form-row form-floating">
                    <input type="text" name="name" id="name" placeholder="Nom" [(ngModel)]="nom_postulant" class="form form-control inputvalue">
                    <label for="name">Nom</label>
                  </div>
                  <div class="mb-3 col-12 col-md-6 form-row form-floating">
                    <input type="text" name="firstname" id="firstname" [(ngModel)]="prenom_postulant" placeholder="Prénom" class="form form-control inputvalue">
                    <label for="firstname">Prénom</label>
                  </div>
                  <div class="mb-3 col-12 col-md-6 form-row form-floating">
                    <input type="text" name="num" id="num" placeholder="Numéro" [(ngModel)]="numero_postulant" class="form form-control inputvalue">
                    <label for="num">Numéro</label>
                  </div>
                  
                  <div class="mb-4 col-12 col-md-6 form-row form-floating">
                    <select name="sexe" id="sexe"  [(ngModel)]="genre" class="form-select form-control" >
                        <option selected>Genre</option>
                        <option> Homme</option>
                        <option> Femme</option>
                        <label for="sexe">Genre</label>
                    </select>
                    
                  </div>
                  <div class="mb-3 col-12 col-md-12 form-row form-floating">
                    <input type="email" name="email" id="email" [(ngModel)]="email" placeholder="email" class="form form-control inputvalue">
                    <label for="email">Email</label>
                  </div>
                  <div class="mb-3 col-12 col-md-12 form-row form-floating">
                    <select name="liste" id="liste" [(ngModel)]="liste" class="form-select form-control" >
                        <option selected > Choisir une liste </option>
                        <option *ngFor="let liste of listePostulant" [(ngValue)] = "liste.libelleliste">{{liste.libelleliste}}</option>
                        <label for="sexe">liste</label>
                    </select>
                  </div>

                  <div class="erreurAjoutPost" *ngIf="bool_erreur">
                    <p >{{erreur}}</p>
                  </div>

                </div>
                <button (click)="posterPostulant()" class="btn btnAjouter">Valider</button>
      
      
              </form>
      
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
