
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap%27');
* {
    font-family:'Poppins', sans-serif;;
}
// .b{
//    background: #ffffff;
//    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
//    border-radius: 12px;
//    border: none; 
// }
.imgGauche{
    // background-color: black;
    color: white;
    border-radius: 12px;
}

.contain{
    margin-top: 3%;
    border-radius: 20px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.8);
    padding: 30px;
}

label{
    margin-left: 10px;
}
img{
        position: relative;
        top: 10%;
        margin-left: 10%;
        display: flex;
        align-items: center;
    }
    h2{
       margin-top: 20%;
        font-size: 20px;
    }

.imgGauche h6{
          
            margin-bottom: 1vh;
            color: black;
            font-size: 15px;
            text-align: center;
            justify-content: center;
            
        }

.trait{
            border: 2px solid #FF6600;
            width: 150px;  
            border-radius: 20px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
        }

.btnAjouter{
    background-color: black;
    color: white;
    border-radius: 12px;
    margin-left: 4%;
    width: 200px;
    height: 50px;
    border: none;
    font-weight: bold;
    background-color: #FF6600;
}
.btnAjouter:hover{
     background-color: black;
     color: #ffffff;
 }
 main{
    overflow: scroll;
 }





















//================TIEC=========================
// .container{
//     position: absolute;
//     margin: 5vh;
//     right: 0;
//     width: 70vw;
//     height: 80vh;
//     display: flex;
//     justify-content: center;
//     border-radius: 12px;
//     box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
// }

// .left{
//     margin: 5vh;
//     width: 30%;
//     height: 70vh;
//     background-color: black;
//     border-radius: 12px;
// }

// img{
//     position: relative;
//     top: 20%;
//     margin-left: 15%;
// }

// .left h2{
//     margin-top: 17%;
//     color: white;
//     text-align: center;
//     justify-content: center;
//     margin-bottom: 0%;
    
// }
// .left h6{
//     margin-top: 2%;
//     margin-bottom: 20vh;
//     color: white;
//     font-size: 10px;
//     text-align: center;
//     justify-content: center;
    
// }

// .right{
//     margin: 5vh;
//     height: 70vh;
//     margin-left: 50vh;
//     flex-direction: column;
    
// }
// .right h2{
//     text-align: center;
//     margin-left: 0%;
//     margin-right: 0%;
//     font-size: 40px;
//     font-weight: bold;
// }

// .trait
// {
//     border: 3px solid #FF6600;
//     width: 100px;
//     margin-left: auto;
//     margin-right: auto;
//     margin-bottom: 30px;
// }

// input, select{
//     width: 250px;
//     height: 50px;
//     border-radius: 12px;
//     border: 1px solid white;
//     box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
// }




// td{
//     padding: 10px;
// }
// td .eml{
//     width: 520px;
// }
// .slt{
//     width: 250px;
//     height: 50px ;

// }
// input[type=submit]{
//     background-color: black;
//     color: white;
//     border-radius: 12px;
//     margin-top: 5%;
//     margin-left: 2%;
// }





main{
    overflow: scroll;
}